/* Main CSS */
.wrapper {
    min-height: 100vh;
}

.pointer {
    cursor: pointer;
}

/* List */
#list {
    max-height: 300px;
    overflow: scroll;
}

#todo-text {
    max-width: 85%;
    overflow: scroll;
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
}

#todo-text::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 600px) {
    #todo-text { max-width: 70%; }
}

/* OverLay */
#overlay {
    padding: 100px;
    padding-top: 200px;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 10000;
    font-family: monospace;
}

#overlay .spinner-border {
    min-width: 10vw;
    min-height: 10vw;
    font-size: 30px;    
}   

/* Footer */
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-top: 1px solid #4b414191;
}
